@import "settings";

.cta {
    height: 100px;
    background-color: $light-grey-color;
    h1{
        line-height: 6rem;
        float: right;        
        @media screen and(max-width: 1161px) {
            font-size: 1.5rem;
            text-align: center;      
        }
        @media screen and(max-width: 714px) {
            font-size: 1rem;
            text-align: center;      
        }
        @media screen and(max-width: $iphonePlus) {
            font-size: 1rem;
            text-align: center;  
            float: none;    
            line-height: 4rem;
        }
    }
    .right {
        @media screen and(max-width: $iphonePlus) {
            text-align: center;   
        }
        #registerBtn{
            left: 10%;
            position: relative;
            top: 33%;
            @media screen and(max-width: $iphonePlus) {
                top: -100%;
                right: 0px;  
                font-size: 0.5rem;  
                left: 0px;
            }
        }
    }
    
}

.cta-white{
    a{
        @include bke-red-btn();
    }
    a:hover {
        @include bke-red-btn-hover();
    }
}

.cta-red{
    background-color: $primary-color;
    h1{
        color: $white-color;
    }
    a {
        @include bke-white-btn();
    }
    a:hover {
        @include bke-red-btn-hover();
    }
}