@import "settings";

@mixin set-icon($icon-type, $color, $size){
    content: $icon-type;
    font-family: "Fontawesome";
    color: $color;
    font-size: $size;
}

@mixin set-font($type, $weight){
    font-family: $type;
    font-weight: $weight;
}

@mixin set-ease-in-out-transition($speed){
    -webkit-transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    -ms-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
    transition: all $speed ease-in-out;
}

@mixin full-banner-img($url){
    background: url($url) no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin responsive-image(){
    width: 100%;
    height: auto;
}

@mixin background-opacity-layer($rgbColor, $a){
    background-color: rgba($rgbColor, $a);
}

@mixin bke-red-btn(){
    background-color: $primary-color;
    color: $white-color;
    @include set-font($title-font, normal);
}

@mixin bke-red-btn-hover{
    background-color: $white-color !important;
    color: $primary-color;
    border: 1px solid $primary-color;
    @include set-font($title-font, normal);
}

@mixin bke-white-btn(){
    background-color: $white-color !important;
    color: $secondary-color !important;
    @include set-font($title-font, normal);
}

@mixin galleryAnimation() {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}