$title-font: 'Coda Caption', sans-serif;
$body-font: 'Lato', sans-serif;
$primary-color: #bc1a1c;
$primary-color-rgb: rgb(188,26,28);
$secondary-color: #2b2b2b;
$secondary-color-rgb: rgb(43,43,43);
$white-color: #fff;
$white-color-rgb: rgb(255,255,255);
$light-grey-color: #F9F9F9;
$light-grey-color-rgb: rgb(249,249,249);

//media sizes
$ipad: 768px;
$androidTablet: 600px;
$iphonePlus: 575px;
$iphone: 375px;
$iphone5: 320px;
