$title-font: 'Coda Caption', sans-serif;
$body-font: 'Lato', sans-serif;
$primary-color: #bc1a1c;
$secondary-color: #2b2b2b;
$white-color: #fff;
$light-grey-color: #F9F9F9;

//media sizes
$ipad: 768px;
$androidTablet: 600px;
$iphonePlus: 575px;
$iphone: 375px;
$iphone5: 320px;
