<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="apple-touch-icon" sizes="180x180" href="http://res.cloudinary.com/dardtedz8/image/upload/v1520208826/BKE/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://res.cloudinary.com/dardtedz8/image/upload/v1520208826/BKE/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://res.cloudinary.com/dardtedz8/image/upload/v1520208826/BKE/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link rel="mask-icon" href="http://res.cloudinary.com/dardtedz8/image/upload/v1520208826/BKE/favicon/safari-pinned-tab.svg"
        color="#bc1a1c">
    <meta name="msapplication-TileColor" content="#bc1a1c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thirsty Thursday | Bakersfield Karting Experience</title>

    <link rel="stylesheet" href="public/css/eventtemp.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
     <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1874501872785631&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="container-fluid">
        <div class="row topBanner">
            <div id="bannerLeft" class="col-xs-12 col-sm-6">
                <div id="sectionsLeft" class="row">
                    <div class="col-xs-6">
                        <i id="phone"></i>
                        <span>(661) 440-5010</span>
                    </div>
                    <div class="col-xs-6">
                        <i id="mapMarker"></i>
                        <a id="mapText" href="contact">Map & Directions</a>
                    </div>
                </div>
            </div>
            <div id="bannerRight" class="col-xs-12 col-sm-6">
                <div id="sectionsRight">
                    <div id="left" class="col-xs-6">
                        <i id="flag"></i>
                        <span id="openStatus"></span>
                    </div>
                    <div id="right" class="col-xs-6">
                        <span>Follow Us!</span>
                        <i id="facebook"></i>
                        <i id="instagram"></i>
                        <i id="twitter"></i>
                        <i id="snapchat"></i>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="http://res.cloudinary.com/dardtedz8/image/upload/v1519962049/BKE/BKE_LogoWeb_500.png" alt="Bakersfield Karting Experience">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span id="toggleIcon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="parties">Parties</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Racing Classes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Open Outlaw</a>
                            <a class="dropdown-item" href="#">Box Stock Outlaw</a>
                            <a class="dropdown-item" href="#">Outlaw Mini Dwarf</a>
                            <a class="dropdown-item" href="#">Mini Dwarf</a>
                            <a class="dropdown-item" href="#">Go-Kart</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
   <div id="eventBanner" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h1>
                    <span>Thirsty Thursday</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row eventBlock">
        <div class="col-sm-6">
            <h3 id="title">Thirsty Thursday</h3>
            <p id="description">Come on in and stop by to grab a beer with our discounts that can't be beat! All bottled beer 
                is $2, all mixed drinks are $4, domestic drafts are $2 and import beers are $2.50!!</p>

            <div class="row descblock1">
                <div class="col-sm-6">
                    <i id="date"></i> 
                    <p>Every Thursday</p>
                    </div>
                <div class="col-sm-6">
                    <i id="time"></i>
                    <p>All Day</p>
                </div>
            </div>
            <div class="row descblock1">
                <div class="col-sm-6">
                    <i id="location"></i> 
                    <p>3101 Gilmore Ave, Bakersfield, CA 93308</p>
                    </div>
                <div class="col-sm-6">
                    <a href="contact" class="btn">Contact Us!</a>
                </div>
            </div>     
        </div>
        <div class="col-sm-6">
            <img src="http://res.cloudinary.com/dardtedz8/image/upload/v1521603415/BKE/Events/ThirstyThursday.jpg" alt="">
        </div>
    </div>
    <div class="row cta cta-red">
        <div class="col-xs-3 col-sm-6 left">
            <h1>Register To Race Here!</h1>
        </div>
        <div class="col-xs-3 col-sm-6 right">
            <a id="registerBtn" href="https://bkebakersfield.clubspeedtiming.com/sp_center/register.aspx" class="btn">Register Here!</a>
        </div>
    </div>
    <div class="row footer">
        <div class="col-sm-4">
            <img src="http://res.cloudinary.com/dardtedz8/image/upload/v1519962049/BKE/BKE_LogoWeb_500.png" alt="Bakersfield Karting Experience">
            <p>We Are California's #1 Indoor Kart Racing Facility.</p>
            <p>
                <strong>Location</strong>
            </p>
            <p>3101 Gilmore Ave.</p>
            <p>Bakersfield, CA 93308</p>
            <p>
                <strong>Phone:</strong> (661) 440-5010</p>
            <p>
                <strong>Email: </strong> info@BakersfieldKE.com</p>
        </div>
        <div class="col-sm-4 sitemap">
            <h5>SITEMAP</h5>
            <a href="Home">Home</a>
            <a href="About">About</a>
            <a href="Pricing">Pricing</a>
            <a href="Events">Events</p>
                <a href="Parties">Parties</p>
                    <a href="Contact">Contact</p>
        </div>
        <div class="col-sm-4">
            <h5>FOLLOW US!</h5>
            <i id="footerFacebook"></i>
            <i id="footerInstagram"></i>
            <i id="footerTwitter"></i>
            <i id="footerSnapchat"></i>
            <div class="fb-page" data-href="https://www.facebook.com/BakersfieldKE/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
                data-height="100" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/BakersfieldKE/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/BakersfieldKE/">Bakersfield Karting Experience</a>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="col-sm-12">
            <p>Copyrights © 2018 All Rights Reserved By Bakersfield Karting Experience | Built & Managed By
                <a href="https://nickhollenbeck.com/"><strong>NICKHOLLENBECK</strong></a>
            </p>
        </div>
    </div>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>