<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="http://res.cloudinary.com/dardtedz8/image/upload/v1520208826/BKE/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://res.cloudinary.com/dardtedz8/image/upload/v1520208826/BKE/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://res.cloudinary.com/dardtedz8/image/upload/v1520208826/BKE/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link rel="mask-icon" href="http://res.cloudinary.com/dardtedz8/image/upload/v1520208826/BKE/favicon/safari-pinned-tab.svg"
        color="#bc1a1c">
    <meta name="msapplication-TileColor" content="#bc1a1c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pricing | Bakersfield Karting Experience</title>

    <link rel="stylesheet" href="public/css/pricing.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1874501872785631&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container-fluid">
        <div class="row topBanner">
            <div id="bannerLeft" class="col-xs-12 col-sm-6">
                <div id="sectionsLeft" class="row">
                    <div class="col-xs-6">
                        <i id="phone"></i>
                        <span>(661) 440-5010</span>
                    </div>
                    <div class="col-xs-6">
                        <i id="mapMarker"></i>
                        <a id="mapText" href="contact">Map & Directions</a>
                    </div>
                </div>
            </div>
            <div id="bannerRight" class="col-xs-12 col-sm-6">
                <div id="sectionsRight">
                    <div id="left" class="col-xs-6">
                        <i id="flag"></i>
                        <span id="openStatus"></span>
                    </div>
                    <div id="right" class="col-xs-6">
                        <span>Follow Us!</span>
                        <i id="facebook"></i>
                        <i id="instagram"></i>
                        <i id="twitter"></i>
                        <i id="snapchat"></i>
                    </div>
                </div>
            </div>
        </div>        
        <div id="nav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <img src="http://res.cloudinary.com/dardtedz8/image/upload/v1519962049/BKE/BKE_LogoWeb_500.png" alt="Bakersfield Karting Experience">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span id="toggleIcon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="parties">Parties</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Racing Classes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Open Outlaw</a>
                                <a class="dropdown-item" href="#">Box Stock Outlaw</a>
                                <a class="dropdown-item" href="#">Outlaw Mini Dwarf</a>
                                <a class="dropdown-item" href="#">Mini Dwarf</a>
                                <a class="dropdown-item" href="#">Go-Kart</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="pricingBanner" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h1>
                    <span>Pricing</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row title">
        <div class="col-sm-12">
            <h2>Bakersfield Karting Experience Pricing Guide</h2>
            <p>Choose an activity from the tabs below to view the current pricing and any possible requirements or frequently
                asked questions!</p>
        </div>
    </div>
    <div class="row sectionCards">
        <div class="col-sm-2 active">
            <i id="jrIcon"></i>
            <h6>Jr. Karts</h6>
        </div>
        <div class="col-sm-2">
            <i id="adultIcon"></i>
            <h6>Adult Karts</h6>
        </div>
        <div class="col-sm-2">
            <i id="golfIcon"></i>
            <h6>Golf Simulator</h6>
        </div>
        <div class="col-sm-2">
            <i id="crazyIcon"></i>
            <h6>Crazy Karts</h6>
        </div>
        <div class="col-sm-2">
            <i id="specialIcon"></i>
            <h6>Special Deal Pricing</h6>
        </div>
        <div class="col-sm-2">
            <i id="annualIcon"></i>
            <h6>Annual License</h6>
        </div>
        <hr>
    </div>
    <div class="row pricingBlock">
        <div id="jrIcon-div" class="col-sm-12 main">
            <div class="row">
                <div class="col-sm-6 center">
                    <i id="jrIcon"></i>
                </div>
                <div class="col-sm-6 pricing">
                    <h2>Jr. Karts</h2>
                    <hr class="short">
                    <br>
                    <br>
                    <p>
                        <strong>$12</strong> - Per Race</p>
                    <hr>
                    <p>
                        <strong>$12</strong> - Two Races</p>
                    <hr>
                    <p>
                        <strong>$26</strong> - Three Races</p>
                </div>
            </div>
            <hr>
            <div class="row FAQ">
                <div class="col-sm-12">
                    <h5>Frequently Asked Questions</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Question Number 1
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Question Number 2
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Question Number 3
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div id="adultIcon-div" class="col-sm-12 main hide">
            <div class="row">
                <div class="col-sm-6 center">
                    <i id="adultIcon"></i>
                </div>
                <div class="col-sm-6 pricing">
                    <h2>Adult Karts</h2>
                    <hr class="short">
                    <br>
                    <br>
                    <p>
                        <strong>$18</strong> - Per Race</p>
                    <hr>
                    <p>
                        <strong>$30</strong> - Two Races</p>
                    <hr>
                    <p>
                        <strong>$40</strong> - Three Races</p>
                </div>
            </div>
            <hr>
            <div class="row FAQ">
                <div class="col-sm-12">
                    <h5>Frequently Asked Questions</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#s2q1" aria-expanded="true" aria-controls="collapseOne">
                                            Question Number 1
                                        </button>
                                    </h5>
                                </div>

                                <div id="s2q1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#s2q2" aria-expanded="false" aria-controls="collapseTwo">
                                            Question Number 2
                                        </button>
                                    </h5>
                                </div>
                                <div id="s2q2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#s2q3" aria-expanded="false" aria-controls="collapseThree">
                                            Question Number 3
                                        </button>
                                    </h5>
                                </div>
                                <div id="s2q3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div id="golfIcon-div" class="col-sm-12 main hide">
            <div class="row">
                <div class="col-sm-6 center">
                    <i id="golfIcon"></i>
                </div>
                <div class="col-sm-6 pricing">
                    <h2>Golf Simulator</h2>
                    <hr class="short">
                    <br>
                    <br>
                    <p>
                        <strong>$3.75</strong> - 20 Balls</p>
                    <hr>
                    <p>
                        <strong>$5.00</strong> - 30 Balls</p>
                    <hr>
                    <p>
                        <strong>$6.00</strong> - 40 Balls</p>
                </div>
            </div>
            <hr>
            <div class="row FAQ">
                <div class="col-sm-12">
                    <h5>Frequently Asked Questions</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#s3q1" aria-expanded="true" aria-controls="collapseOne">
                                            Question Number 1
                                        </button>
                                    </h5>
                                </div>

                                <div id="s3q1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Question Number 2
                                        </button>
                                    </h5>
                                </div>
                                <div id="s3q2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Question Number 3
                                        </button>
                                    </h5>
                                </div>
                                <div id="s3q3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div id="crazyIcon-div" class="col-sm-12 main hide">
            <div class="row">
                <div class="col-sm-6 center">
                    <i id="crazyIcon"></i>
                </div>
                <div class="col-sm-6 pricing">
                    <h2>Crazy Karts</h2>
                    <hr class="short">
                    <br>
                    <br>
                    <p>
                        <strong>$5</strong> - Per Race</p>
                    <hr>
                    <p>
                        <strong>$25</strong> - Unlimited</p>
                </div>
            </div>
            <hr>
            <div class="row FAQ">
                <div class="col-sm-12">
                    <h5>Frequently Asked Questions</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#s4q1" aria-expanded="true" aria-controls="collapseOne">
                                            Question Number 1
                                        </button>
                                    </h5>
                                </div>

                                <div id="s4q1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#s4q2" aria-expanded="false" aria-controls="collapseTwo">
                                            Question Number 2
                                        </button>
                                    </h5>
                                </div>
                                <div id="s4q2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#s4q3" aria-expanded="false" aria-controls="collapseThree">
                                            Question Number 3
                                        </button>
                                    </h5>
                                </div>
                                <div id="s4q3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div id="specialIcon-div" class="col-sm-12 main hide">
            <div class="row">
                <div class="col-sm-6 center">
                    <i id="specialIcon"></i>
                </div>
                <div class="col-sm-6 pricing">
                    <h2>Special Deal Pricing</h2>
                    <hr class="short">
                    <br>
                    <br>
                    <p>
                        <strong>$50</strong> - 2hr Unlimited</p>
                    <hr>
                    <p>
                        <strong>$100</strong> - All Day Unlimited</p>
                    <hr>
                    <p>
                        Free Race With Purchase Of Race/License Together
                        <br> No License Fee For First Responders/Military/Law Enforcement
                    </p>
                </div>
            </div>
            <hr>
            <div class="row FAQ">
                <div class="col-sm-12">
                    <h5>Frequently Asked Questions</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#s5q1" aria-expanded="true" aria-controls="collapseOne">
                                            Question Number 1
                                        </button>
                                    </h5>
                                </div>

                                <div id="s5q1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#s5q2" aria-expanded="false" aria-controls="collapseTwo">
                                            Question Number 2
                                        </button>
                                    </h5>
                                </div>
                                <div id="s5q2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#s5q3" aria-expanded="false" aria-controls="collapseThree">
                                            Question Number 3
                                        </button>
                                    </h5>
                                </div>
                                <div id="s5q3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div id="annualIcon-div" class="col-sm-12 main hide">
            <div class="row">
                <div class="col-sm-6 center">
                    <i id="annualIcon"></i>
                </div>
                <div class="col-sm-6 pricing">
                    <h2>Annual License</h2>
                    <hr class="short">
                    <br>
                    <br>
                    <p>
                        <strong>$5</strong> - JR License</p>
                    <hr>
                    <p>
                        <strong>$10</strong> - Adult License</p>
                </div>
            </div>
            <hr>
            <div class="row FAQ">
                <div class="col-sm-12">
                    <h5>Frequently Asked Questions</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#s6q1" aria-expanded="true" aria-controls="collapseOne">
                                            Question Number 1
                                        </button>
                                    </h5>
                                </div>

                                <div id="s6q1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#s6q2" aria-expanded="false" aria-controls="collapseTwo">
                                            Question Number 2
                                        </button>
                                    </h5>
                                </div>
                                <div id="s6q2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#s6q3" aria-expanded="false" aria-controls="collapseThree">
                                            Question Number 3
                                        </button>
                                    </h5>
                                </div>
                                <div id="s6q3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                        probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row cta cta-red">
        <div class="col-xs-3 col-sm-6 left">
            <h1>Register To Race Here!</h1>
        </div>
        <div class="col-xs-3 col-sm-6 right">
            <a id="registerBtn" href="https://bkebakersfield.clubspeedtiming.com/sp_center/register.aspx" class="btn">Register Here!</a>
        </div>
    </div>
    <div class="row footer">
        <div class="col-sm-4">
            <img src="http://res.cloudinary.com/dardtedz8/image/upload/v1519962049/BKE/BKE_LogoWeb_500.png" alt="Bakersfield Karting Experience">
            <p>We Are California's #1 Indoor Kart Racing Facility.</p>
            <p>
                <strong>Location</strong>
            </p>
            <p>3101 Gilmore Ave.</p>
            <p>Bakersfield, CA 93308</p>
            <p>
                <strong>Phone:</strong> (661) 440-5010</p>
            <p>
                <strong>Email: </strong> info@BakersfieldKE.com</p>
        </div>
        <div class="col-sm-4 sitemap">
            <h5>SITEMAP</h5>
            <a href="Home">Home</a>
            <a href="About">About</a>
            <a href="Pricing">Pricing</a>
            <a href="Events">Events</p>
                <a href="Parties">Parties</p>
                    <a href="Contact">Contact</p>
        </div>
        <div class="col-sm-4">
            <h5>FOLLOW US!</h5>
            <i id="footerFacebook"></i>
            <i id="footerInstagram"></i>
            <i id="footerTwitter"></i>
            <i id="footerSnapchat"></i>
            <div class="fb-page" data-href="https://www.facebook.com/BakersfieldKE/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
                data-height="100" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/BakersfieldKE/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/BakersfieldKE/">Bakersfield Karting Experience</a>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="col-sm-12">
            <p>Copyrights © 2018 All Rights Reserved By Bakersfield Karting Experience | Built & Managed By
                <strong>NICKHOLLENBECK</strong>
            </p>
        </div>
    </div>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>